section.container {
    margin: 7px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

section.container div.introduction p {
    margin: 0px;
}

section.container div.github-links span {
    margin-right: 2px;
}

@media screen and (min-width:480px) {
    section.photo-container {
        display: flex;
    }
}

section.photo-container div.photo-box p{
    margin-top: 2px;
    margin-bottom: 1px;
}
section.photo-container div.photo-box img{
    padding: 0px 7px;
}

span.strike-out {
    text-decoration: line-through;
}

section.container div.email p {
    margin: 0px;
}

section.container div.email span.no-copy {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* default */
}

section.container div.email aside p {
    margin: 0px;
    font-size: 75%;
}