section.container {
    margin: 7px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

section.container div.introduction p {
    margin: 0px;
}

section.container div.github-links span {
    margin-right: 2px;
}

@media screen and (min-width:480px) {
    section.photo-container {
        display: flex;
    }
}

section.photo-container div.photo-box p{
    margin-top: 2px;
    margin-bottom: 1px;
}
section.photo-container div.photo-box img{
    padding: 0px 7px;
}

span.strike-out {
    text-decoration: line-through;
}